{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Мои работы</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
<h1>Мои работы</h1>

{% for image in object_list %}
<div class="imgList">
    <a href="{% url 'detail' image.pk %}">
        <img width="400px" src="media/{{ image.get_name }}">
    </a>
    <p>{{ image.title }}</p>
</div>
{% endfor %}

</body>
</html>